<section>
  <ul class="o-list-bare  c-accordion-nav">
    {% for menu in craft.entries.section('entries').level(1) %}
    <li class="c-accordion-nav__item  js-accordion-nav-item">
      <div class="o-wrapper  o-wrapper--huge  c-accordion-nav__spacer">
        <div class="c-accordion-nav__underline"></div>
      </div>
      <div class="o-wrapper  o-wrapper--huge">
        <div class="c-accordion-nav__clickable-area  js-accordion-nav-opener  u-flex  u-flex--space-between">
          <h2 class="o-heading  c-accordion-nav__heading  u-margin-bottom-none">{{ menu.title }}</h2>
          <div class="c-accordion-nav__status">
            <span class="c-accordion-nav__plus"></span>
          </div>
        </div>
      </div>


      <div class="c-accordion-nav__content  c-carousel  js-carousel">
        {% for entry in menu.getChildren() %}
        <div class="c-carousel__slide  js-carousel-slide"{% if entry.backdropImage | length %} style="background-image: url({{ entry.backdropImage.first().getUrl() }});"{% endif %}>
          <div class="c-carousel__pagination">{{ loop.index }} / {{ loop.length }}</div>
          <div class="o-layout  o-layout--middle  o-layout--flush  c-accordion-nav__layout">
            <div class="o-layout__item  u-1/2@desktop  c-carousel__item">
              {% if entry.media | length %}
                <div class="c-carousel__asset  js-carousel-asset">
                  {% for block in entry.media %}
                    {% if block.type == "image" %}
                      <img src="{{ block.asset.first().getUrl() }}" />
                    {% elseif block.type == "youtube" %}
                      <div class="c-video">
                        <iframe src="https://www.youtube.com/embed/JoQOWB9gDWE" width="100%" frameborder="0" allowfullscreen></iframe>
                      </div>
                    {% elseif block.type == "vimeo" %}
                      <div class="c-video">
                        <iframe src="https://player.vimeo.com/video/226199475" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="o-layout__item  c-accordion-nav__layout-item  c-carousel__item  u-1/2@desktop">
              {% if entry.body | length %}
              <div class="c-accordion-nav__details  js-accordion-nav-details">
                <h1 class="o-heading">{{ entry.title }}</h1>
                <div class="o-copy">{{ entry.body }}</div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}

        <!-- <div class="c-carousel__prev  js-carousel-prev  u-flex  u-flex--center-middle">
          <i class="btr bt-angle-left"></i>
        </div>
        <div class="c-carousel__next  js-carousel-next  u-flex  u-flex--center-middle">
          <i class="btr bt-angle-right"></i>
        </div> -->
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
