<section class="c-contact">
  <div class="o-wrapper  o-wrapper--huge">
    <div class="o-layout  o-layout--middle  o-layout--large">
      <div class="o-layout__item  u-1/2@tablet  u-1/2@desktop">
        {% if entry.contactImage | length %}
        <img src="{{ entry.contactImage.first().getUrl() }}" class="c-contact__image" />
        {% endif %}
      </div>
      <div class="o-layout__item  u-1/2@tablet  u-1/2@desktop">
        <div class="c-contact__item">
          {% if entry.contactHeading | length %}
          <h2 class="o-heading  c-contact__heading">{{ entry.contactHeading }}</h2>
          {% endif %}
          {% if entry.contactBody | length %}
          <div class="o-copy  o-copy--small  u-color-grey">{{ entry.contactBody }}</div>
          {% endif %}
        </div>
        {% if entry.contactAddresses | length %}
          {% for block in entry.contactAddresses %}
          <div class="c-contact__item">
            <h2 class="o-heading  c-contact__subheading">{{ block.heading }}</h2>
            <div class="o-copy  o-copy--small  u-color-grey">
              <a href="mailto:{{ block.emailAddress }}">{{ block.emailAddress }}</a>
            </div>
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
