<li class="c-accordion-nav__item  js-accordion-nav-item">
  {% include '_components/accordion-head' with { heading: 'Radio Shows' } %}

  <div class="c-accordion-nav__content  js-accordion-nav-content">
    <div class="c-carousel  js-carousel">
      {% for entry in craft.entries.section('radioShows') %}
      <div class="c-carousel__slide  js-carousel-slide"{% if entry.backdropImage | length %} style="background-image: url({{ entry.backdropImage.first().getUrl() }});"{% endif %}>
        <div class="o-layout  o-layout--middle  o-layout--flush  c-accordion-nav__layout">
          <div class="o-layout__item  c-accordion-nav__layout-item  c-carousel__item  u-1/2@desktop">
            {% if entry.body | length %}
            <div class="c-accordion-nav__details  js-accordion-nav-details">
              <div class="c-carousel__controller  u-flex  u-flex--space-between">
                <div class="c-carousel__pagination">{{ loop.index }} / {{ loop.length }}</div>
                <div class="u-flex  u-flex--space-between">
                  <div class="c-carousel__prev  js-carousel-prev">Prev</div>
                  <span class="c-carousel__slash">&frasl;</span>
                  <div class="c-carousel__next  js-carousel-next">Next</div>
                </div>
              </div>
              <h1 class="o-heading  o-heading--bold">{{ entry.title }}</h1>
              <div class="o-copy">
                <span>ON AIR &#45; {{ entry.date }}</span>
              </div>
              <div class="o-copy">{{ entry.body }}</div>

              {% if entry.links | length %}
                {% for block in entry.links %}
                <div class="">
                  <a href="{{ block.linkUrl }}" target="_blank">{{ block.linkText }}</a>
                </div>
                {% endfor %}
              {% endif %}
            </div>
            {% endif %}
          </div>
          <div class="o-layout__item  c-carousel__item  u-1/2@desktop  js-carousel-right-item">
            {% if entry.media | length %}
              {% for block in entry.media %}
              <div class="c-carousel__asset  js-carousel-asset{% if block.type == "mixcloud" %}  u-padding-none{% endif %}">
                {% if block.type == "image" %}
                  <img src="{{ block.asset.first().getUrl() }}" />
                {% elseif block.type == "mixcloud" %}
                  <iframe class="o-mixcloud-iframe  js-mixcloud-iframe" width="100%" src="{{ block.embedUrl }}" frameborder="0"></iframe>
                {% endif %}
              </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</li>
