<li class="c-accordion-nav__item  js-accordion-nav-item">
  {% include '_components/accordion-head' with { heading: 'Releases' } %}

  <div class="c-accordion-nav__content  js-accordion-nav-content">
    <div class="c-carousel  js-carousel">
      {% for entry in craft.entries.section('releases') %}
      <div class="c-carousel__slide  js-carousel-slide"{% if entry.backdropImage | length %} style="background-image: url({{ entry.backdropImage.first().getUrl() }});"{% endif %}>
        <div class="o-layout  o-layout--middle  o-layout--flush  c-accordion-nav__layout">
          <div class="o-layout__item  c-accordion-nav__layout-item  u-1/2@desktop  c-carousel__item">
            {% if entry.body | length %}
            <div class="c-accordion-nav__details  js-accordion-nav-details">
              <div class="c-carousel__controller  u-flex  u-flex--space-between">
                <div class="c-carousel__pagination">{{ loop.index }} / {{ loop.length }}</div>
                <div class="u-flex  u-flex--space-between">
                  <div class="c-carousel__prev  js-carousel-prev">Prev</div>
                  <span class="c-carousel__slash">&frasl;</span>
                  <div class="c-carousel__next  js-carousel-next">Next</div>
                </div>
              </div>
              <h1 class="o-heading  o-heading--bold">{{ entry.title }}</h1>
              <div class="o-copy">
                <span>{{ entry.label }}</span> &frasl; <span>{{ entry.releasedYear }}</span>
              </div>
              <div class="o-copy">{{ entry.body }}</div>

              {% if entry.soundcloudPageUrl | length %}
              <div class="c-soundcloud-player">
                <div class="c-soundcloud-player__play-button">
                  <a href="{{ entry.soundcloudPageUrl }}" class="sc-player"></a>
                </div>
              </div>
              {% endif %}

              {% if entry.links | length %}
                {% for block in entry.links %}
                <div class="o-permalink">
                  <a href="{{ block.linkUrl }}" target="_blank">{{ block.linkText }}</a>
                </div>
                {% endfor %}
              {% endif %}
            </div>
            {% endif %}
          </div>
          <div class="o-layout__item  c-carousel__item  u-1/2@desktop  js-carousel-right-item">
            {% if entry.media | length %}
              <div class="c-carousel__asset  js-carousel-asset">
                {% for block in entry.media %}
                  {% if block.type == "image" %}
                    <img src="{{ block.asset.first().getUrl('mediaImage') }}" />
                  {% elseif block.type == "youtube" %}
                    <div class="c-video">
                      <iframe src="{{ block.embedLinkUrl }}" width="100%" frameborder="0" allowfullscreen></iframe>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</li>
